@page "/login"
@layout AuthLayout
<section class="d-flex" style="height: 52vh;">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <EditForm Model="RegisterRequest" OnSubmit="HandleRegister">
                <DataAnnotationsValidator/>
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <InputText type="text" placeholder="User Name " @bind-Value="RegisterRequest.UserName"/>
                <ValidationMessage class="text-danger" For="@(() => RegisterRequest.UserName)"/>
                <InputText type="password" placeholder="Password" @bind-Value="RegisterRequest.Password"/>
                <ValidationMessage class="text-danger" For="@(() => RegisterRequest.Password)"/>
                <InputText type="password" placeholder="Confirm Password" @bind-Value="RegisterRequest.ConfirmPassword"/>
                <ValidationMessage class="text-danger" For="@(() => RegisterRequest.ConfirmPassword)"/>
                <br/>
                <button type="submit">Sign Up</button>
            </EditForm>
        </div>
        <div class="form-container sign-in-container">
            <EditForm Model="LoginRequest" OnSubmit="HandleLogin">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <InputText type="text" placeholder="Email" @bind-Value="LoginRequest.UserName"/>
                <InputText type="password" placeholder="Password" @bind-Value="LoginRequest.Password"/>
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </EditForm>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>
